body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}


header{
    height: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}


.barra_header{   
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color:rgb(0, 0, 199); 
}
.castra_movel_logo{
    width: 7%;
    position: absolute;
    left: 0%;
    margin-left: 7%;
    margin-top: 0.5%;
}
.lista_header{
    justify-content: center;
    position: absolute;
    color: white;
    left: 15%;
    font-size: 215%;
    width: 55%;
    height: 100%;
    line-height: 260%;
    text-align: center;
    font-family: fantasy;
}
a{
    box-sizing: border-box;
    margin-inline: 2%;
    position: relative;
    list-style-type: none;
    
}
a:hover{color: rgb(255, 238, 0);cursor: pointer;}
.botaoInicio{
    color: white;
    font-family: fantasy;
    font-size: 200%;
    text-align: center;
    line-height: 150%;
    width: 7%;
}
.botaoInicio:hover{cursor: pointer;}


.login{
    position: absolute;
    right: 6%;
    top: 32%;
    text-align: center;
    width: 10%;
    height: 35%;
    line-height: 200%;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
}
.login:hover{
    background-color:rgb(255, 238, 0);
    color: rgb(0, 0, 199);
}

.infoUsuario{
    position: fixed;
    width: 60%;
    background-color: rgb(255, 238, 0);
    top: 20%;
    z-index: 1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.445) 0px 0px 10px 1000px;
}
.perfil{
    margin-top: 5%;
    position: absolute;
    left: 45%;
}
.logoff{
    margin-top: 20%;
    position: absolute;
    background-color: rgb(0, 0, 199);
    color: white;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    font-size: large;
    left: 40%;
}
.logoff:hover{
    cursor: pointer;
    color: rgb(0, 0, 199);
    background-color: white;
}
.sair_infoUsuario{
    right: 2%;
    top: 2%;
    position: absolute;
    background-color: rgb(0, 0, 199);
    color: white;
    width: 3%;
    text-align: center;
    border-radius: 10px;
}
.sair_infoUsuario:hover{
    cursor: pointer;
    color: rgb(0, 0, 199);
    background-color: red;
}

section{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 10%;
}


.inicio{width: 100%;}
.corpo_cao_inicio{
    position: relative;
    top: 10%;
    left: -20%;
}
.corpo_frases_inicio{
    background-color: rgb(0, 0, 199);
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 240%;
    width: 28%;
    height: 10%;
    text-align: center;
    line-height: 240%;
    border-radius: 20px;
    font-family: fantasy;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.336);    
}
#corpo_frases_inicio_2{top: 35%;}
#corpo_frases_inicio_3{top: 50%;}
.corpo_texto_inicio{
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 200%;
    color: black;
}


.barra_corpo_quem_somos{
    position: absolute;
    top: 90%;
    background-color: rgb(255, 238, 0);
    width: 100%;
    height: 90%;
}
.veterinaria_quem_somos{
    position: absolute;
    width: 42%;
    bottom: 0%;
    right: 5%;
}
.titulo_quem_somos_corpo{
    position: absolute;
    font-size: 300%;
    top: 10%;
    left: 17%;
    font-family: fantasy;
    color: rgb(0, 0, 199);
}
.texto_quem_somos_corpo{
    position: absolute;
    font-size: 160%;
    top: 20%;
    left: 10%;
    width: 40%;
}


.barra_corpo_localizacao{
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 199);
    height: 60%;
    top: 180%;
}
.titulo_corpo_localizacao{
    color: greenyellow;
    font-family: fantasy;
    font-size: 300%;
    position: absolute;
    top: 10%;
    left: 63%;
}
.texto_corpo_localizacao{
    color: white;
    position: absolute;
    font-size: 160%;
    top: 25%;
    right: 10%;
    width: 37%;
}
.linkLocal{display: none;}
.mapbox{
    position: absolute;
    top: 10%;
    left: 10%;
}


.barra_corpo_termos{
    position: absolute;
    background-color:rgb(255, 238, 0);
    width: 100%;
    height: 70%;
    top: 240%;
}
.titulo_corpo_termos{
    position: absolute;
    color:rgb(0, 0, 199);
    font-family: fantasy;
    font-size: 300%;
    top: 10%;
    left: 30%;
}
.texto_corpo_termos{
    position: absolute;
    font-size: 160%;
    top: 25%;
    margin-inline: 10%;
}

.barra_corpo_cadastrar_pet{
    top: 310%;
    width: 100%;
    height: 70%;
    position: absolute;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.titulo_corpo_cadastrar_pet{
    position: absolute;
    color:rgb(0, 0, 199);
    font-family: fantasy;
    font-size: 300%;
    top: 5%;
    
}
.formEnviarCao{
    position: absolute;
    top: 25%;
}
.texto_enviar_arquivos_corpo_cadastrar_pet{
    margin-top: 10%;
}

.enviar_corpo_cadastrar_pet{
    top: 110%;
    left: 0%;
    position: absolute;
}

footer{
    background-color: rgb(0, 0, 199);
    position: absolute;
    width: 100%;
    height: 40%;
    top: 390%;
    color: white;
    text-align: center;
    line-height: 150%;
}


@media screen and (max-width:1680px) {
    .castra_movel_logo{top: 5%;}
    .lista_header{font-size: 200%;}
    .corpo_cao_inicio{width: 75%;}
    .corpo_texto_inicio{font-size: 170%; width: 37%;}
    .texto_quem_somos_corpo{font-size: 145%;}
    .texto_corpo_termos{font-size: 145%;}
    .entrar{left: 5%;}
    .cadastrar{left: 55%;}
}

@media screen and (max-width:1600px) {
    header{height: 11%;}
    .login{font-size: 90%;}
    .castra_movel_logo{width: 7%;}
    
    .corpo_cao_inicio{width: 70%;}
    .corpo_texto_inicio{font-size: 150%;}
    .corpo_frases_inicio{font-size: 200%;}
    
    .texto_quem_somos_corpo{font-size: 130%;}

    .barra_corpo_localizacao{top: 180%; height: 75%;}
    .texto_corpo_localizacao{font-size: 140%;}

    .barra_corpo_termos{top: 255%; height: 90%;}
    .texto_corpo_termos{font-size: 140%; left: 4%;}
    
    .barra_corpo_cadastrar_pet{top: 345%;height: 80%;}

    footer{top: 435%; height: 45%;}
    body{height: 400vh;}

    .botaoInicio{font-size: 160%;}
}

@media screen and (max-width:1440px) {
    
    .login{font-size: 80%; line-height: 230%;}
    .castra_movel_logo{top: 10%;}
    .lista_header{font-size: 170%; line-height: 300%;}

    .barra_corpo_quem_somos{height: 100%;}
    .texto_quem_somos_corpo{font-size: 130%;}

    .barra_corpo_localizacao{top: 190%; height: 75%;}
    .texto_corpo_localizacao{font-size: 140%; margin-inline: 6%;right: 0%;}

    .barra_corpo_termos{top: 265%;}
    .titulo_corpo_termos{left: 25%;}

    .barra_corpo_cadastrar_pet{top: 355%;}
    
    footer{top: 445%;}
    body{height: 410vh;}
}

@media screen and (max-width:1400px) {
    
    .login{line-height: 280%;}
    .castra_movel_logo{width: 10%; margin-left: 5%; top: 5%;}
    .lista_header{font-size: 170%; line-height: 380%;}

    .corpo_texto_inicio{width: 50%; top: 55%;}
    .corpo_frases_inicio{height: 8%; top: 15%;}
    #corpo_frases_inicio_2{top: 27%;}
    #corpo_frases_inicio_3{top: 40%;}

    .barra_corpo_quem_somos{height: 80%; top: 75%;}
    .texto_quem_somos_corpo{font-size: 130%;}

    .barra_corpo_localizacao{top: 155%; height: 65%;}
    .texto_corpo_localizacao{font-size: 140%; margin-inline: 6%;right: 0%;}

    .barra_corpo_termos{top: 220%;}
    .titulo_corpo_termos{left: 25%;}
    .texto_corpo_termos{margin-inline: 13%;}

    .barra_corpo_cadastrar_pet{top: 310%;height: 70%;}
    
    footer{top: 390%;}
    body{height: 365vh;}
    .botaoInicio{line-height: 180%;}
}

@media screen and (max-width:1366px) {
    .login{line-height: 200%;}
    .castra_movel_logo{width: 8%; margin-top: 0%;}
    .lista_header{line-height: 255%;}

    .corpo_cao_inicio{width: 75%; top: 10%;}
    .corpo_frases_inicio{line-height: 170%;top: 25%;}
    #corpo_frases_inicio_2{top: 38%;}
    #corpo_frases_inicio_3{top: 51%;}
    .corpo_texto_inicio{font-size: 140%; top: 70%;}
    .titulo_quem_somos_corpo{top: 5%;}

    .barra_corpo_quem_somos{top: 100%;height: 100%;}
    
    .texto_quem_somos_corpo{font-size: 121%;top: 18%;}
    .barra_corpo_localizacao{top: 200%; height: 90%;}

    .barra_corpo_termos{top: 290%; height: 100%;}
    .titulo_corpo_termos{left: 22%;}
    .texto_corpo_termos{font-size: 125%;}
    
    .barra_corpo_cadastrar_pet{top: 390%;height: 90%;}

    footer{top: 490%; height: 55%;}
    body{height: 450vh;}
    .caixa_login_criar_conta{width: 40%; height: 50%;}
    .botaoInicio{line-height: 130%;}
}

@media screen and (max-width:1280px) {
    header{height: 7%;}
    .lista_header{font-size: 150%;}
    .login{font-size: 70%;}

    .corpo_cao_inicio{top: 10%;}
    .corpo_frases_inicio{top: 15%; line-height: 220%;}
    #corpo_frases_inicio_2{top: 27%;}
    #corpo_frases_inicio_3{top: 39%;}
    .corpo_texto_inicio{top: 52%;}

    .barra_corpo_quem_somos{top: 70%;}
    .texto_quem_somos_corpo{font-size: 140%;}
    
    .barra_corpo_localizacao{top: 170%; height: 63%;}
    .mapbox{left: 5%;}
    
    .barra_corpo_termos{top: 233%;height: 75%;}
    .texto_corpo_termos{margin-inline: 8%;}

    .barra_corpo_cadastrar_pet{top: 308%; height: 70%;}

    footer{top: 388%;height: 42%;}
    body{height: 357vh;}
    .botaoInicio{line-height: 170%;}
}

@media screen and (max-width:768px) {

    body{
        height: auto;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
    }

    .mapbox{display: none;}
    
    .veterinaria_quem_somos{display: none;}

    header{
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        height: 70pt;
    }
    .lista_header_1, .lista_header_2, .lista_header_3, .lista_header_5{display: none;} 
    .castra_movel_logo{width: 30%;margin-top: 2%;top: 0%;}
    .lista_header{
        font-size: large;
        width: 40%;
        height: auto;
        right: 0%;
        left: auto;
        position: absolute;
        margin-right: 5%;
    }
    .login{
        font-size:small;
        width: 45%;
        height: auto;
        top: auto;
        bottom: 0%;
        margin-bottom: 5%;
    }
   
    input{width: 60%;}

    section{
        position: absolute;
        top: 70pt;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
    }

    .inicio{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        height: 350pt;
    }
    .corpo_frases_inicio{display: none;}
    .corpo_texto_inicio{
        top: 0%;
        left: auto;
        width: 80%;
        font-size: large;
        margin-top: 10%;
    }
    .corpo_cao_inicio{
        width: auto;
        height: 60%;
        bottom: -18%;
        top: auto;
        position: absolute;
        left: -33%;
       
    }

    .barra_corpo_quem_somos{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        top: 350pt;
        height: 530pt;
    }
    .titulo_quem_somos_corpo{
        font-size: xx-large;
        left: auto;
    }
    .texto_quem_somos_corpo{
        font-size: medium;
        width: 80%;
        top: auto;
        margin-top: 30%;
    }

    .barra_corpo_localizacao{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        top: 880pt;
        height: 260pt;
    }
    .titulo_corpo_localizacao{
        font-size: xx-large;
        left: auto;
    }
    .texto_corpo_localizacao{
        font-size: medium;
        width: 80%;
        top: auto;
        margin-top: 30%;
    }

    .barra_corpo_termos{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        top: 1140pt;
        height: 910pt;
    }
    .titulo_corpo_termos{
        top: 3%;
        font-size: xx-large;
        left: auto;
        text-align: center;
    }
    .texto_corpo_termos{
        font-size: medium;
        width: 80%;
        top: auto;
        margin-top: 40%;
    }

    .barra_corpo_cadastrar_pet{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        top: 2050pt;
        height: 420pt;
    }
    .titulo_corpo_cadastrar_pet{
        top: 3%;
        font-size: xx-large;
        left: auto;
        text-align: center;
    }
    .formEnviarCao{
        width: 80%;
        top: 15%;
    }
    .requisicoes_corpo_cadastrar_pet_nome_do_cao{
        left: auto;
        margin-inline: 15%;
        margin-bottom: 2%;
    }
    .requisicoes_corpo_cadastrar_pet_raca_do_cao{
        left: auto;
        margin-inline: 15%;
        margin-bottom: 2%;
    }
    .requisicoes_corpo_cadastrar_pet_peso_do_cao{
        left: auto;
        margin-inline: 15%;
        margin-bottom: 2%;
    }
    .requisicoes_corpo_cadastrar_pet_idade_do_cao{
        left: auto;
        margin-inline: 15%;
        margin-bottom: 2%;
    }
    .requisicoes_corpo_cadastrar_pet{width: 10%;}
    .checkbox_corpo_cadastrar_pet{margin-top: 5%;}


    footer{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        top: 2540pt;
        height: 280pt;
    }

    
}